.features-section {
    padding: 0 50px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        position: relative;
        width: 100%;
        max-width: 360px;
        min-height: 300px;
        padding: 30px 30px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.01);
        border-radius: 5px;
        box-sizing: border-box;
    }

    &__img {
        position: relative;
        min-height: 86px;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-end;
    }

    &__text {
        margin: 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        color: #282936;
    }

    &__link {
        padding-right: 25px;
        position: relative;
        margin-top: auto;
        font-size: 18px;
        color: #282936;
        text-decoration: none;
        transition: all 0.3s;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 10px;
            height: 10px;
            border-top: 1px solid var(--blue);
            border-right: 1px solid var(--blue);
            transform: rotate(45deg) translateY(-50%);
        }

        &:hover {
            padding-right: 35px;
        }
    }
}
