
/* block1 */
.block1, .block3, .block4, .block5 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.block1 p, .block3 p, .block4 p, .block5 p {
    max-width: 720px;
    margin-bottom: 50px;
    padding-left: 105px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 100;
}

.block5 p {
    padding-left: 0px;
}

.block1 ol, .block3 ol, .block4 ol {
    max-width: 720px;
    margin-bottom: 50px;
    padding-left: 120px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 100;
}

.block1 li, .block3 li, .block4 li {
    margin-bottom: 15px;
}

.block1 img, .block3 img {
    width: 100%;
    z-index: 0;
    margin: auto;
    display: block;
    border-radius: 5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.5s all;
}

.block1 img:hover, .block3 img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    transition: 0.5s all;
}

.block1 .img-shadow, .block3 .img-shadow {
    bottom: 0px;
    left: 50px;
    z-index: -1;
    height: 85%;
    width: calc(100% - 100px);
    background: rgba(109, 109, 109, 0.7);
    -webkit-filter: blur(50px);
    filter: blur(40px);
}

.block2 {
    padding: 60px 0px;
    text-align: center;
    margin-top: 60px;
}

.block2 p {
    font-size: 1.5rem;
    max-width: 70%;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.img-block {
    max-width: 80%;
    margin: auto;
}

.block3 .img-block {
    margin-bottom: 40px;
    max-width: 95%;
}

.block4 img {
    width: 80%;
    margin: auto;
    display: block;
}

.block5 {
    display: flex;
    width: 80%;
    margin: auto;
}

.block5 p {
    width: 70%;
    padding-right: 40px;
}